.date {
  color: #333;
  margin-right: 76px;
  line-height: 68px;
  font-size: 17px;
  width: 70px;
  display: inline-block!important;
}

.dateHover {
  color: #333;
  margin-right: 40px;
  line-height: 68px;
  font-size: 17px;
  width: 70px;
  display: inline-block!important;
}
